.container {
    background:aqua;
    display:grid;
    /* grid-template-rows:100px 100px 100px 100px; */
    /* grid-template-rows:repeat(4,100px); */
    /* grid-template-rows:50px repeat(3,100px); */
    /* grid-template-rows:repeat(2,50px) repeat(2,100px); */
    /* grid-template-rows:repeat(4,minmax(150px,300px));최소 최댓값 */
    /* grid-template-rows:[트랙명] 트랙값 [트랙명] 트랙값; */
    /* grid-template-rows:[row1] 50px [row2] 100px [row3] 150px [row4] 200px; */
    /* grid-template-columns:100px 50px 100px; */
    /* grid-template-rows:100px 200px; */
    /* grid-template-columns:repeat(2,minmax(100px,50px)); */
    /* grid-template-rows:50px 100px; */
    /* ---------------------------grid2부------------------------- */
    grid-template-areas:
        'item1 item2'
        '. item3'
        '. item4';
    grid-template-rows:repeat(2,50px) 100px;
    grid-template-columns:repeat(2,1fr);
}
.container .item {}
.container .item:nth-child(1) {background: pink;grid-area:item1;}
.container .item:nth-child(2) {background:yellow; grid-area:item2;}
.container .item:nth-child(3) {background:lime; grid-area:item3;}
.container .item:nth-child(4) {background:coral; grid-area:item4;}