.wrap {
    background-color: bisque;
    width:500px;
    /* 자식에 float적용 시 생기는 부모 오류해결법 */
    /* 1. 높이강제부여 */
    /* height:100px; */
    /* 2. 자식높이재인식 */
    /* overflow:hidden; */
}
/* 3. 가상자식생성 */
.wrap:after {clear:both; display:block; content:'';

}
.wrap .a {
    border:2px solid red;
    float:left;
}
.wrap .b {
    border:2px solid orange;
    float:right;
}
.wrap .c {
    border:2px solid green;
    float:left;
    /* clear:both;이전형제 float 위치 제거->새로운 행 선언 */
}
.wrap .a, .wrap .b, .wrap .c {
    width:100px; height:100px;
    background-color: coral;
}
.next {
    width:500px; height:250px;
    background-color: gold;
}