.wrap {
    background-color: yellow;
    overflow:hidden;
}
.wrap a {
    display:block; font-size:5rem;
    width:100px; height:100px;
    background-color: coral;
    border:2px solid red;
}
.wrap .a {
    float:left;
}
.wrap .b {
    float:left;
}
.wrap .c {
    float:left;
}
.wrap .d {
    float:right;
}