#wrap {
    background-color: lightgray;
}
#wrap > * {width:1000px; margin:0 auto;}
#wrap header {background-color: yellow; height:100px;}
#wrap nav {
    background-color: coral; height:50px;
    text-align:center;
    position:sticky; top:0;
}
#wrap nav a {line-height:50px; margin-right:20px;}
#wrap nav a:last-child {margin-right:0;}
#wrap section {
    background-color: aqua; height:300vh;
    position:relative;
}
#wrap section * {width:200px; height:200px;}
#wrap section h1 {
    background: yellowgreen;
    position:absolute; left:0; top:0;
    z-index:200;
}
#wrap section h2 {
    background: pink;
    position:absolute; left:100px; top:100px;
    z-index:100;
}