/* --------------------header ------------*/
header {
    background:rgba(0,0,0,0.6);
    position:fixed; left:0; top:0; z-index:9999;
    height:80px; width:100%; display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    padding:0 25px;
    align-items:center;
}
header h1 {width:150px;}
header h1 a {}
header h1 a img {width:100%;}
header nav {}
header nav a {margin-left:25px; color:#eee;}
header nav a:hover {color:#fff;}
header nav a:first-child {margin-left:0;}
header .lnb {color:#fff;}
header .lnb:hover {color:#ff0;}
header .lnb::after {
    display:inline; content:'\f138'; font-weight:600;
    color:#17a2b8;
    margin-left:7px;
}
/* --------------------main------------------ */
main {background:#f8f9fa; padding-bottom: 20px;
}
main > * {margin-bottom:50px;}
main .visual {
    height:750px; overflow:hidden;
    position:relative;
}
main .visual video {width:100%;}
main .visual .ai {
    position:absolute; left:50%; top:50%;
    transform:translate(-50%, -50%);   
    width:700px; 
}
main .visual .ai img {width:100%;}
/* ------------board----------- */
main .board {
    width:1140px; margin:50px auto;
    
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
main .board a {
    background-color: #fff;
    width:32%; 
    padding:20px;
}

main .board a h1 {
    font-size:1.8rem;
    border:700;
    letter-spacing:-0.02em;
    line-height:1.5; margin-bottom:25px;
}
main .board a p {
    font-size:1.2rem;
    letter-spacing:-0.02em;
}
main .board a:nth-child(1) .contents {
    color:gray;
}
main .board a .category {margin-bottom:20px;}
main .board a .contents {line-height:1.5;}
main .board a:nth-child(2) p:nth-child(3) {margin-bottom:20px;}
main .board a:first-child .contents {
    /* 여러줄 말줄임 처리 */
    white-space:wrap;
    overflow:hidden; text-overflow:ellipsis;
    /* + */
    -webkit-line-clamp:3;
    -webkit-box-orien:vertical;
    display:-webkit-box;
}
/* board+gallery */
/* main div a h1 {
    font-size:1.2rem;
    letter-spacing:-0.02em;
    font-weight:700;
    line-height:1.5;
    margin-bottom:20px;
}
main div a p {
    font-size:1.2rem;
    letter-spacing:-0.02em;
}
main div a .category {margin-bottom:20px;}
main div a .contents {line-height:1.5;} */

main .gallery {
    
    width:1140px; margin:50px auto;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
main .gallery a {
    background-color: #fff;
    width:32%; padding:25px;
}
main .gallery a p {
    font-size:1.2rem;
    letter-spacing:-0.02em;
}
main .gallery a h1 {
    font-size:1.8rem;
    border:700;
    letter-spacing:-0.02em;
    line-height:1.5; margin-bottom:20px;
    margin:0 15px;
}
main .gallery a .category {margin-bottom:20px;}
main .gallery a .contents {
    font-size:1.2rem;
    letter-spacing:-0.02em;
    color:gray;
    line-height: 1.5;
    margin:0 15px;
}
main .gallery .img {margin-bottom:20px;}
main .gallery .img img {width:100%;}
/* -------------------footer top---------------- */
footer {
    background-color: #fff; 
    border-top:1px solid #000;
}
footer .f_container {
    width:1140px; margin:0 auto; padding:25px;
}
footer .f_container .f_top {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    font-size:1.2rem; align-items:center;
}
footer .f_container .f_top .f_t_left {
    margin-bottom: 20px;
}
footer .f_container .f_top .f_t_left a {
    
}
footer .f_container .f_top .f_t_left a::after {
    width:1px; height:9px;
    background-color: #333;
    content:''; display:inline-block;
    position:relative; right:-10px; top:-2px;
}
footer .f_container .f_top .f_t_left a:last-child::after {
    display:none;
}
footer .f_container .f_top a {
    margin-right:16px;
}
footer .f_container .f_top a:last-child {margin:0;}
footer .f_container .f_top .site {
    padding:10px 15px; background-color:#333; color:#fff;
    border-radius: 5px;
}

/* ------------------footer btm---------- */
footer .f_container .f_t_btm {
    margin-bottom: 20px;
}
footer .f_container .f_t_btm address {}
footer .f_container .f_t_btm p {}
footer .f_container .f_t_btm > * {
    color:gray;
    line-height: 1.5;
}