/* all_layout */
header,
main > div > *,
/* main .bg_path .top,
main .bg_w .title,
main .bg_w .contents,
main .bg_w .contents, */
footer .ft_top,
footer address,
footer > p {
    /* border:5px solid red; */
    width:1200px; margin:0 auto;
}
main > div > * {
    text-align:center;
}
/* header --------------------------------------------------------------*/
header {height:92px;}
header h1 {float:left; padding-top:5px;}
header h1 a {}
header h1 a img {width:60px;
}
header nav {
    float:left;
    line-height:92px;
    margin-left:300px;
}
header nav a {font-size:1.063rem; padding-left:30px;}
header nav .active {color:#36b4e5; padding:0;}
header .lnb {
    float:right;
    line-height:92px;
}
header .lnb a {}
header .lnb a:nth-child(2)::before {
    content:'|';
    display:inline;
    padding-left:10px;
    margin-right:10px;
}
/* main---------------------------------------------------------------- */
main {}
/* 공통 배경 */
main .bg {padding:50px 0;background-color:#f1f1f1;}
main .bg_w {padding:50px 0;}
/* 현재페이지경로--------------- */
main .border {
    /* border-top:1px solid #aaa;
    border-bottom:1px solid #aaa; */
    border:1px solid #aaa;
    border-left:none; border-right:none;
}
main .bg_path {background-color: #f1f1f1;}
main .bg_path .top {padding:20px 0;}
main .bg_path .top dt {}
main .bg_path .top dd {text-align:right;}
main .bg_path .top dd span {}
main .bg_path .top dd em {}
/* 경영이념 제목 -----------*/
main .bg_w .title {}
main .bg_w .title h1 {
    font-size:2.5rem;
    margin-bottom:15px;
}
main .bg_w .title p {}
/* 경영이념 내용 -----------*/
main .bg .contents {}
main .bg .contents p {
    line-height:1.5;
}
/* 경영이념 vision ---------------*/
main .bg_w .contents {}
main .bg_w .contents h2 {
    color:#36b4e5;
    font-size:1.375rem;
    margin-bottom:30px;
}
main .bg_w .contents p {
    font-size:1.938rem;
    line-height:1.5;
    letter-spacing:-0.002em;
}
main .bg_w .contents p:nth-child(2) {
    margin-bottom:100px;
}

/* 경영이념 GOAL, STRATEGY----------- */
main .bg .contents h2 {
    font-size:1.25rem;
    margin-bottom:30px;
}
main .bg .contents ul {
    /* overflow:hidden; */
    display:inline-block;
    /* float의 부모높이 0 처리 오류해결방법으로 display:inline-block도 가능하다 */
}
main .bg .contents h2:nth-child(3) {
    /* background-color: coral; */
    margin-top:100px;
}
main .bg .contents .goal_list li 
{
    width:250px; height:250px;
    border-radius:50%;
    line-height:250px;
    float:left;
    box-shadow:0 0 10px gray;
    /* display:inline-block; */
    margin-left:-12px;
    /* margin-left 음수는 붙고 양수는 떨어진다 */
}
main .bg .contents ul li {
    font-size:1.5rem;
    background-color:#fff;
    line-height:1.5;
    border-radius:50%
}
main .bg .contents ul .first {
    background-color: #36b4e5;
}
main .bg .contents ul .last {
    background-color: #f3c300;
}
main .bg .contents .strategy_list li {
    width:180px; height:180px;
    border-radius:50%;
    /* display:inline-block; */
    float:left;
    padding:55px 20px 0;
    /* box-shadow:x축 y축 blur color;순으로 */
    box-shadow:0 0 10px gray;
}
main .bg .contents ul li h3 {
    font-size:1.063rem;
}
main .bg .contents ul li p {}

/* footer-------------------------------------------------------------- */
footer {padding:50px 0;}
footer .ft_top {overflow:hidden;}
footer .ft_top .ft_left {
    float:left;
}
footer .ft_top .ft_left a {
    font-weight:700;
}
footer .ft_top .ft_right {
    float:right;
}
footer .ft_top .ft_right a {
    border:1px solid #aaa;
    display:inline-block;
    padding:10px 20px;
}
footer address {line-height:1.5;}
footer address+p {padding-top:15px}