#top {
    position:fixed; right:50px; bottom:50px;
    z-index:9999;
}
/* --------------------header -------------------------------*/
header {
    width:1152px;
    margin:0 auto;
}
header .top {
    background-color: pink; height:49px;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
header .top .h_left {
    display:flex; flex-flow:row nowrap;
    align-items: center;
}
header .top .h_left h1 {}
header .top .h_left h1 a {}
header .top .h_left h1 a img {padding-bottom:8px; margin-right:10px;}
header .top .h_left nav {}
header .top .h_left nav a {margin-right:10px;}
header .top .h_left nav a:last-child {margin:0;}
header .top .h_right{
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
    align-items:center;
    
}
header .top .h_right a {
    margin-right:10px;
}
header .top .h_right a:last-child {
    margin:0;
}
/* ---------------------header_btm---------------------------- */
header .h_btm {
    background-color: burlywood; height:119px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .h_btm h1 {}
header .h_btm h1 a {}
header .h_btm h1 a img {}
/*  */
header .h_btm #searchFrm {
    background-color: #fff;
    border:3px solid #1e6cb3; width:300px; padding:5px 0;
}
header .h_btm #searchFrm fieldset {}
header .h_btm #searchFrm fieldset input[name$=user_search] {
    width:90%; padding:3px; border:0; outline:none;
}
header .h_btm #searchFrm fieldset input[name$=user_search]::placeholder {color:#1e6cb3;}
header .h_btm #searchFrm fieldset #search {
    position:relative; top:3px;
}
header .h_btm #searchFrm fieldset #search img {}
/*  */
header .h_btm .right {
    display:flex; flex-flow:column nowrap;
    align-items:flex-end;
}
header .h_btm .right .r_top {}
header .h_btm .right .r_top #lang {
    border:1px solid #1e6cb3;
}
header .h_btm .right .r_top #lang option {}
header .h_btm .right .r_top #go {background:#1e6cb3; color:#fff; width:36px; height:24px;}
header .h_btm .right .r_btm {}
header .h_btm .right .r_btm p {line-height: 1.3;}
header .h_btm .right .r_btm p:first-child {font-size:2rem;}
/* main */
main {}
main .bnr_wrap {
    display:flex; background-color: bisque;
    flex-flow:row nowrap; 
    margin:0 auto; width:1152px;
    justify-content: space-between;
}
main .bnr_wrap .left {position:relative;}
main .bnr_wrap .left .bnr {}
main .bnr_wrap .left .bnr img {}
main .bnr_wrap .left .close {
    display:inline-block; 
    background:#1e6cb3; 
    color:#fff; padding:10px;
    position:absolute; right:20px; bottom:20px;
}
main .bnr_wrap .left a {}
main .bnr_wrap .right {width:360px;}
main .bnr_wrap .right .corona {
    position:relative; display:inline-block;
    margin-bottom: 11px;
}
main .bnr_wrap .right .corona img {}
main .bnr_wrap .right .corona span {
    position:absolute; background-color: yellow;
    display:inline-block;
}
main .bnr_wrap .right .corona .date {
    width:140px; height:21px;  right:30px; top:13px;
}
main .bnr_wrap .right .corona .result {text-align:center; height:21px;}
main .bnr_wrap .right .corona .result1 {
    width:140px; 
    left:30px; top:79px;
}
main .bnr_wrap .right .corona .result2 {
    width:140px;
    right:30px; top:79px;
}
main .bnr_wrap .right .corona .result3 {
    width:96px;
    left:29px; bottom:52px;
}
main .bnr_wrap .right .corona .result4 {
    width:96px;
    right:119px; bottom:52px;
}
main .bnr_wrap .right .corona .result5 {
    width:62px; 
    right:30px; bottom:52px;
}
main .bnr_wrap .right .bnr {}
main .bnr_wrap .right .bnr a {}
main .bnr_wrap .right .bnr img {}
/* service */
main .service_wrap {}
main .service_wrap .title {}
main .service_wrap .title h1 {}
main .service_wrap .title .site {}
main .service_wrap .title .site a {}
main .service_wrap .contents {}
main .service_wrap .contents a {}
main .service_wrap .contents span {}
main .service_wrap .bnr_wrap_bg {}
main .service_wrap .bnr_wrap_bg .bnr_wrap {}
main .service_wrap .bnr_wrap_bg .bnr_wrap a {}
main .service_wrap .bnr_wrap_bg .bnr_wrap a img {}
/* 이벤트 신청 */
main .board_wrap {
    background-color: bisque; margin:30px auto 0; width:1152px;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
main .board_wrap > * {
    width:32%;
}
main .board_wrap .event {}
main .board_wrap .event .title {}
main .board_wrap > div .title {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    border-bottom:1px solid black; padding:20px;
    margin:0 0 15px;
}
main .board_wrap > div .contents {
    display:flex; flex-flow:column nowrap;
}
main .board_wrap .event .title h1 {}
main .board_wrap .event .title .more {}
main .board_wrap .event .contents {
    
}
main .board_wrap .event .contents a {padding:7px 0;}
main .board_wrap .event .contents span {}
main .board_wrap > div .contents a .administration {color:#028ab6;}
main .board_wrap > div .contents a .environment {color:#599100}
main .board_wrap > div .contents a .welfare {color:#d76000;}
main .board_wrap > div .contents a .housing {color:#c35c3c;}
main .board_wrap > div .contents a .culture {color:#9b64d3;}
/* 이달의 행사 및 축제 */
main .board_wrap .festival {background-color:beige;}
main .board_wrap .festival .title {}
main .board_wrap .festival .title h1 {}
main .board_wrap .festival .title a {}
main .board_wrap .festival .title a .more {}
main .board_wrap .festival .contents {}
main .board_wrap .festival .contents a {}
main .board_wrap > div .contents a span:first-child {margin-right:10px;}
main .board_wrap > div .contents a span:last-child {width:85%; background: white; display:inline-block;
white-space:nowrap; text-overflow: ellipsis; overflow: hidden;
}
main .board_wrap .festival .contents span {}
main .board_wrap .festival .contents span .environment {}
main .board_wrap .festival .contents a .economy {color:#069363;}
main .board_wrap .festival .contents span .culture {}
/* 자주 찾은 서비스 */
main .board_wrap .service {background-color: yellow;}
main .board_wrap .service .title {}
main .board_wrap .service .title h1 {}
main .board_wrap .service .contents {}
main .board_wrap .service .contents a {}
main .board_wrap > .service .title {border:0;}
main .board_wrap > .service .contents {
    background:#eff4f8; display:flex; flex-flow:row wrap;
}
main .board_wrap > .service .contents a {width:50%;}
/*  */
footer {
    background-color: beige; width:1152px; margin:30px auto;
}
footer .top {
    background-color: #c35c3c;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items: center;
    padding:30px 0; border-top:2px solid gray; border-bottom:2px solid gray;
}
footer .top .menu {
    
}
footer .top .menu a {
    margin-right:10px; font-size: 0.875rem; color:gray;
}
footer .top .menu a::after {
    width:1px; height:12px; background-color:gray;
    content:''; display: inline-block;
    position: relative; right:-7px; top:1px;
}
footer .top .menu a:last-child::after {display:none;} 
footer .top .menu a:nth-child(2) {color:black;}
footer .top .menu a:last-child {margin:0;}
footer .top .sns {
    background-color:pink;
}
footer .top .sns a {
    background:#ff0 url(../images/css_sprites\ \(1\).png)
    no-repeat;
    width:25px; height:25px; text-indent:-9999px; display:inline-block;
    margin-right:10px;
}
footer .top .sns a:last-child {margin:0;}
footer .top .sns a:hover {
    background:url(../images/css_sprites\ \(2\).png)
}
footer .top .sns a:nth-child(1) {
    background-position-x:0;
}
footer .top .sns a:nth-child(2) {
    background-position-x:-24px;
}
footer .top .sns a:nth-child(3) {
    background-position-x:-49px;
}
footer .top .sns a:nth-child(4) {
    background-position-x:-74px;
}
footer .top .sns a:nth-child(5) {
    background-position-x:-99px;
}
footer .top .sns a:nth-child(6) {
    background-position-x:-124px;
}

/*  */
footer .btm {
    background-color: #9b64d3;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    padding:20px 0;
}
footer .btm .copyright {
    background-color: yellow;
    display:flex; flex-flow:row nowrap;
    
}
footer .btm .copyright p {
    font-size:0.875rem; line-height:1.5;
}
footer .btm .copyright .call120 {margin-right:20px;}
footer .btm .copyright p .call120 img {}
footer .btm .copyright p .copy {}
footer .btm .mark {
    
}
footer .btm .mark a {}
footer .btm .mark a img {}