html,body {height:300vh;}
.container {
    width:500px; padding:30px;
    background-color: aqua;
    margin:50px auto 0; 
    position:fixed; right:0; top:0;
}
.container .contents {
    background-color: yellow;
    padding:30px; 
}
.container .contents > * {
    display:block; padding:10px;
    border:2px solid red; background-color:#fff;
}
.container .contents h1 {
    position:absolute;
    top:0; left:0;
}
.container .contents p {
    position:absolute;
    bottom:0; right:0;
}
.container .contents a {
}