@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
.wrap {background-color: coral;}
.wrap .title {}
.wrap .title h1 {
    font-size:1.875em;
    font-family: 'Noto Serif KR', serif;
    letter-spacing:-0.06em;
    word-spacing:0.06em;
    font-weight:700;
    /*평균400~굵기700~900 */
    font-style:italic;
    /* text-decoration:underline;밑줄 */
    text-decoration:line-through;
}
.wrap .title h1 span {
    font-size:1.875rem;
    text-transform:capitalize;
    /* text-transform:lowercase;소문자 */
    /* text-transform:uppercase;대문자 */
}
.wrap .container {}
.wrap .container dl {}
.wrap .container dl dt {
    font-size:1.250rem;
    font-family: 'Noto Serif KR', serif;
    letter-spacing:-0.03em;
    word-spacing:0.03em;
}
.wrap .container dl dd {
    font-size:0.938rem;
    font-family:'맑은 고딕',sans-serif;
    line-height:2.5;
    letter-spacing:-0.02em;
    word-spacing:0.03em;
}
.wrap .quiz {}
.wrap .quiz h1 {
    font-size:1.563rem;
    font-weight:700;
    text-transform:uppercase;
    line-height:2;
}
.wrap .quiz ul {}
.wrap .quiz ul li {
    line-height:2.0;
    text-decoration:line-through;
}
.wrap .quiz ul .answer {
    font-weight:700;
    text-decoration:underline;
}
